@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #f85a40;
  --bs-secondary: #008374;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: "Open Sans", sans-serif;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
}
.site-nav {
  padding-top: 32px;
  padding-bottom: 0;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  background: #008374;
  font-family: var(--bs-font-sans-serif);
  font-weight: 400;
  font-size: 15px;
}
.site-nav h2 {
  margin-left: 5%;
  font-size: 24px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  margin: 0 0 0 5%;
  color: var(--bs-light);
}
.site-nav h2 a {
  color: #fff;
  text-decoration: none;
}
.nav-list {
  display: flex;
  list-style-type: none;
  width: 30rem;
  justify-content: space-between;
  margin-right: 5%;
  box-sizing: border-box;
  color: #ecececae;
  margin-top: 0;
  margin-bottom: 0;
}
.nav-list li a {
  cursor: pointer;
  color: #ecececae;
  text-decoration: none;
}
.nav-list li a:hover {
  color: var(--bs-white) !important;
}

.menu-icon {
  display: none;
  font-size: 30px;
  color: #fff;
  transition: ease-in-out 150ms;
}

@media (max-width: 800px) {
  .nav-list {
    display: none;
  }
  .menu-icon {
    display: block;
    margin-right: 15%;
  }
  .menu-icon:hover {
    transform: scaleY(0.8);
    color: #fff;
  }
}

/* sidebar style */
#side-bar {
  /* display: none; */
  position: fixed;
  z-index: 4;
  width: 300px;
  background: #fafafa;
  line-height: 1.8;
  right: 0;
  transform: translateX(100%);
  transition: all 400ms;
  padding: 27px;
  text-align: initial;
  height: 100vh;
  top: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.inactive {
  transform: translate(0%) !important;
  /* display: block !important; */
}
.class-list {
  list-style-type: none;
  margin-top: 36px;
  text-transform: capitalize;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}
.class-list li {
  padding: 5px;
  cursor: pointer;
}
.icon-x {
  font-size: 30px;
  position: fixed;
  right: 0;
  top: 0;
  margin: 16px;
}

.class-list li:hover {
  color: #f85a40;
}
.icon-down {
  font-size: 30px;
  float: right;
}
/* css for dropdown menu */
#drop-menu-1 {
  display: none;
  flex-direction: column;
  position: relative;
  border: none;
  margin-left: 0px;
  list-style-type: none;
  padding-left: 20px;
  overflow: hidden;
}
.Active-one {
  display: block !important;
}
#sub-menu {
  list-style-type: none;
  padding-left: 20px;
  display: none;
}
.Active-two {
  display: block !important;
}

#icon-down {
  font-size: 30px;
  float: right;
  transition: all 250ms;
}
.icon-active {
  transform: rotate(180deg);
}

/* menu drop css */
#menu-drop-hover {
  position: absolute;
  right: 283px;
  top: 50%;
  /* display: none; */
  visibility: hidden;
  background: white;
  list-style-type: none;
  color: black;
  padding-top: 15px;
  padding-bottom: 22px;
  width: 184px;
  text-align: initial;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: top ease-in-out 180ms;
  text-transform: capitalize;
  font-size: 15px;
}
#menu-drop-hover li:hover {
  color: #f85a40;
  cursor: pointer;
}

#menu-drop-hover li {
  padding: 5px;
}
.hover-element {
  padding-bottom: 120px;
}

.hover-element:hover + #menu-drop-hover {
  z-index: 2;
  visibility: visible;
  top: 35%;
}
#menu-drop-hover:focus {
  visibility: visible;
  top: 35%;
}
#menu-drop-hover:hover {
  visibility: visible;
  top: 35%;
}

/* sub-menu drop css */
#sub-menu-drop {
  /* display: block; */
  visibility: hidden;
  position: absolute;
  list-style-type: none;
  background: white;
  right: -155px;
  top: 85%;
  padding: 15px;
  padding-top: 17px;
  padding-bottom: 17px;
  width: 160px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: top ease-in-out 180ms;
  text-transform: capitalize;
}
#sub-menu-drop li {
  padding: 5px;
}

.sub-hover-li:hover + #sub-menu-drop {
  visibility: visible;

  z-index: 3;
  top: 40%;
}
#sub-menu-drop:hover {
  visibility: visible;
  top: 40%;
}
#sub-menu-drop:focus {
  visibility: visible;
  top: 40%;
}
