.slider-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.slide_container {
  width: 100%;
  margin: 0 auto;
  max-width: 707px;
}
.swiper-section {
  background: #fafafa;
}
.carousel-main {
  background: #fafafa;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 12px !important;
  font-weight: bolder;
  color: black;
}
.quote {
  font-family: "Georgia", serif;
  font-size: 18px;
  line-height: 1.6;
}
.swiper-wrapper {
  transition: all ease-in-out 150ms;
}
.fw-bold {
  color: black;
}
