@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
a {
  color: white;
  text-decoration: none;
}
